<!DOCTYPE html>
<html>

<head>
  <title>Cuisine Website Mock-Up</title>
</head>
<body>
  <div id="nav">NAVIGATION GOES HERE</div>
  <%- body %>
  <div id="footer">FOOTER GOES HERE</div>
</body>

</html>